.DS_Store
node_modules
.vite
dist
.env
.env.*
apps/web/node_modules
apps/web/dist
apps/web/src/.env.local
node_modules
*.tsbuildinfo
apps/web/vite.config.js
apps/web/vite.config.d.ts
apps/desktop/node_modules
apps/desktop/src-tauri/target
apps/desktop/src-tauri/gen
